# SPDX-FileCopyrightText: Copyright 2026  Heinz Wiesinger, Amsterdam, The Netherlands
# SPDX-License-Identifier: CC0-1.0

# https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[{*.sh,*.bash,*.bats,lintpkg,tests/run,*.yml,*.yaml}]
indent_style = space
indent_size = 2

[{*.c,*.h}]
indent_style = space
indent_size = 4

[*.md]
indent_style = space

[*.toml]
indent_style = space
indent_size = 4
